.homeContainer {
    width: 100vw;
    padding: 0 10rem;
}

@media screen and (max-width: 1000px) {
    .homeContainer {
        padding: 1rem;
    }
  }


@media screen and (max-width: 600px) {
    .homeContainer {
        padding: 0;
    }
}
