.articleContainer {
    width: 100vw;
    padding: 0 10rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

}

.tag {
    font-weight: 700;
}

.title {
    font-size: 3.325rem;
}

.publicity {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--subtitle);
    font-weight: 400;
}

.article {
    margin-top: 1rem;
    line-height: 2;
    font-size: 1.25rem;
}

.publishedAt {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 700;
    display: block;
    margin-top: 1rem;
}

@media screen and (max-width: 800px) {
    .articleContainer {
        padding: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .articleContainer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 1.5rem;
    }

    .publishedAt {
        font-size: 0.75rem;
    }

    .publicity, .article {
        font-size: 1.25rem;
    }

    .article {
        text-align: justify;
    }
}
