:root {
    --yellow: #FFBD14;
    --red: #FF2D2D;
    --blue: #24538B;
    --green: #248B28;
    --grey: rgba(0, 0, 0, 0.2);
    --subtitle: rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

.publicityCard {
    margin: 2rem 0;
    height: 11.875rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publicityTitle {
    font-size: 2rem;
    font-weight: 700;
    color: var(--grey);
}